DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=le_club_exercise
JWT_SECRET=your-secret-key-change-in-production
AWS_ACCESS_KEY_ID=your-key
AWS_SECRET_ACCESS_KEY=your-secret
AWS_S3_BUCKET=le-club-exercise-uploads
AWS_REGION=eu-west-3
PORT=3000
